<div class="sticky-nav 1fr">
    <div class="logo p-3 ">
        <div class="logo-side m-0 ">Employee <span class="head">Management</span></div>
    </div>
    <nav class="side d-flex flex-column ">
        <ul class="li-side m-0 p-0 ">
            <li class="dash"><a href="#"><i class="fa-solid fa-house"></i><span class="nav-text">Dashboard</span></a></li>
                <li class="dash"><a href="/"><i class="fa-solid fa-chart-simple"></i></i><span class="nav-text">Employees</span></a></li>
                <li class="dash"><a href="#"><i class="fa-solid fa-user"></i><span class="nav-text">My Profile</span></a></li>
                <li class="dash"><a href="/logout" ><i class="fa-solid fa-lock"></i><span class="nav-text" >Logout</span></a></li>
        </ul>
    </nav>
    <div class="adresss d-flex flex-column">
        <div class="footer-content">
            <span class="author">Powered by</span>
            <img class = "author-img" src="icon/image 1.png" alt="">
        </div>
    </div>
</div>