<div class="form-container sign-in-container">
    <form id="login-form">
        <h1>Sign in</h1>
        <div class="social-container">
            <a href="https://www.facebook.com/" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.google.com/account/about/" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="https://in.linkedin.com/" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <input type="email" id="login-email" placeholder="Email" name="email"/>
        <input type="password" id="login-password" placeholder="Password" name="password"/>
        <a href="#">Forgot your password?</a>
        <button type="submit">Sign In</button>
    </form>
</div>