<div class="form-container sign-up-container">
  <form id="signup-form">
    <h1>Create Account</h1>
    <div class="input-container">
      <input type="text" id="signupName" placeholder="Name" />
      <span class="error" id="nameError"></span>
    </div>
    <div class="input-container">
      <input type="email" id="signupEmail" placeholder="Email" />
      <span class="error" id="emailError"></span>
    </div>
    <div class="input-container">
      <input type="password" id="signupPassword" placeholder="Password" />
      <span class="error" id="passwordError"></span>
    </div>
    <button type="submit">Sign Up</button>
  </form>
</div>
