<div class="form" id="viewDetails">
    <div class="col-12">
        <img class="background-img" src="icon/Background Image.png" alt="#" >
    </div>
    <div class="col-12 d-flex flex-column align-items-center ">
            <div class="img-overlay">
                <img src="icon/l60Hf.png" alt="#" class="main-img" id="imageView">
            </div>
    </div>
    <div class="col-12 text-center ">
        <div class=" row ">
            <span class="employee-name p-0 " id="employeeName"></span>
            <span class="employee-mail p-0 " id="employeeEmail"></span>
        </div>
    </div>
    <div class="col-12 details-top ">
    <div class="row gap-3 px-3 ">
        <div class="col-4 view-content d-flex flex-column gap-2 ">
            <div class="form-employee-details">Gender</div>
            <div class="employe-details" id="employeeGender"></div>
        </div>
        <div class="col-4 view-content left d-flex flex-column gap-2">
            <div class="form-employee-details">Age</div>
            <div class="employe-details" id="employeeAge"></div>
        </div>
        <div class="col-4 view-content right d-flex flex-column gap-2">
            <div class="form-employee-details">Date of Birth</div>
            <div class="employe-details" id="employeeDob"></div>
        </div>
    </div>
    </div>
    <div class="col-12">
        <div class="row gap-3 px-3 pt-3 ">
            <div class="col-6 employe-contact d-flex flex-column gap-2 ">
                <div class="form-employee-details">Mobile Number</div>
                <div class="employe-details" id="employeeNumber"></div>
            </div>
            <div class="col-6 employe-contact second d-flex flex-column gap-2 ">
                <div class="form-employee-details">Qualifications</div>
                <div class="employe-details" id="employeeQualification"></div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row  px-3 pt-3 gap-3 ">
            <div class="col-6 employe-adress d-flex flex-column gap-2 ">
                <div class="form-employee-details">Address</div>
                <div class="employe-details" id="employeeAddress"></div>
            </div>
            <div class="col-6 employe-adress user d-flex flex-column gap-2 ">
                <div class="form-employee-details">Username</div>
                <div class="employe-details" id="employeeUsername"></div>
            </div>
        </div>
    </div>
    
    <div class="btn d-flex flex-row py-4 justify-content-end gap-2  ">
        <button class="filled-round delet-frm" onclick="deletEvaluation()">Delete</button>
        <button class="filled-round edit-details" onclick="editEmployeedetails()">Edit Details</button>
  </div>
</div>