<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registerOtp.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>OTP Code Verification</h1>
    <form action="/api/user/verify-otp" method="post" id="otpForm">
      <label for="otpCode">Enter the OTP code sent to your phone:</label>
      <input type="number" id="otpCode" name="otps" maxlength="6" minlength="6" required>
      <!-- <input type="hidden" id="email" name="email" value="<%= email %>"> -->
      <button type="submit">Verify OTP Code</button>
    </form>
  </div>
  <script src="/javascript/registerOtp.js"></script>
</body>
</html>